* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@font-face {
  font-family: "Jumble";
  src: url("../font/Jumble.ttf") format("truetype");
  font-display: swap;
}
body,
button,
input,
textarea {
  font-size: 1.6rem;
  font-family: "Jumble", sans-serif;
  font-weight: normal;
  --webkit-font-smoothing: antialiased;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px transparent;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  line-height: 0;
  cursor: pointer;
}

body {
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  width: 800px;
  margin: 0 auto;
  display: block;
}

.nav {
  display: flex;
  justify-content: center;
}
.nav a {
  color: #004c61;
  font-size: 2rem;
  text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
  transition: 300ms;
}
.nav a:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.nav div {
  width: 333px;
  height: 108px;
}
.nav .logo {
  margin-top: 2rem;
}
.nav .logo img {
  width: 135px;
  height: 87px;
}
.nav .nav-left {
  background-image: url(../img/nav-left.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.nav .nav-left a {
  position: absolute;
}
.nav .nav-left a.site {
  bottom: 16px;
  left: 40px;
}
.nav .nav-left a.whatsapp {
  bottom: 16px;
  right: 40px;
}
.nav .nav-right {
  background-image: url(../img/nav-right.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.nav .nav-right a {
  position: absolute;
}
.nav .nav-right a.facebook {
  bottom: 16px;
  left: 46px;
}
.nav .nav-right a.instagram {
  bottom: 16px;
  right: 38px;
}

.menu-top {
  margin: 0 auto;
  width: 583px;
  height: 165px;
  background-image: url(../img/menu-top-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  text-shadow: -2px -2px 2px #0e0a2b, 2px -2px 1px #0e0a2b, -2px 2px 1px #0e0a2b, 2px 2px 1px #0e0a2b;
}
.menu-top h3 {
  position: absolute;
  top: 26px;
  left: 160px;
  font-size: 1.8rem;
  font-weight: normal;
}
.menu-top h3 span {
  color: #80f208;
}
.menu-top p {
  font-size: 1.8rem;
  position: absolute;
  left: 160px;
  bottom: 38px;
}

.store {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 551px;
  height: 49px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url(../img/store-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.store p {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-right: 10px;
  color: #fff;
  text-shadow: -2px -2px 2px #0e0a2b, 2px -2px 1px #0e0a2b, -2px 2px 1px #0e0a2b, 2px 2px 1px #0e0a2b;
}
.store a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.store a:nth-child(2) {
  margin-right: 10px;
}
.store a img {
  width: 132px;
  height: 41px;
  transition: 300ms;
}
.store a img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.hero {
  display: flex;
  justify-content: center;
}
.hero .side {
  margin-right: 10px;
  width: 311px;
  height: 573px;
  background-image: url(../img/phone-mockup.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero .side h3 {
  color: #004c61;
  font-size: 2.8rem;
  font-weight: normal;
  text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
  position: absolute;
  top: 43px;
  left: 65px;
}
.hero .side form {
  margin-top: 110px;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .side form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.hero .side form label span {
  margin-left: 15px;
  color: #fff;
  text-shadow: -2px -2px 2px #1e3756, 2px -2px 1px #1e3756, -2px 2px 1px #1e3756, 2px 2px 1px #1e3756;
}
.hero .side form label input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.hero .side form label input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}
.hero .side form label input {
  background: none;
  border: none;
  background-image: url(../img/input-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 15px;
  padding-right: 15px;
  width: 248px;
  height: 56px;
  color: #7f7f99;
}
.hero .side form .info-auth {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .side form .info-auth p {
  color: #fff;
  line-height: 1.2;
  text-shadow: -2px -2px 4px #190b5a, 2px -2px 4px #190b5a, -2px 2px 4px #190b5a, 2px 2px 4px #190b5a;
  text-align: center;
  padding: 0 40px;
}
.hero .side form .info-auth img {
  width: 216px;
  height: 54px;
  border: 2px solid #ccc;
  margin-top: 15px;
}
.hero .side form button {
  background-image: url(../img/submit-btn-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 216px;
  height: 63px;
  color: #004c61;
  font-size: 2.8rem;
  font-weight: normal;
  text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
  margin-top: 35px;
  transition: 300ms;
}
.hero .side form button:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.hero .content {
  position: relative;
}
.hero .content .premios {
  width: 438px;
  height: 290px;
  background-image: url(../img/premios.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .content .premios p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.3;
  text-align: center;
  text-shadow: -2px -2px 2px #061a3e, 2px -2px 1px #061a3e, -2px 2px 1px #061a3e, 2px 2px 1px #061a3e;
  padding-top: 25px;
}
.hero .content .premios p span {
  color: #80f208;
}
.hero .content .video {
  margin-top: -11px;
  width: 438px;
  height: 287px;
  background-image: url(../img/frame-video.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .content .video iframe {
  margin-top: 60px;
  margin-left: 48px;
}

.mobile {
  display: none;
}

@media (max-width: 799px) {
  body {
    background-image: url(../img/bg-mobile.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .main {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile header {
    width: 90vw;
    height: 28.1vw;
    margin: 0 auto;
    background-image: url(../img/panel-mobile.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile header .logo-mobile {
    text-align: center;
    position: relative;
  }
  .mobile header .logo-mobile a {
    font-weight: normal;
    color: #004c61;
    font-size: 2.51vw;
    text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
    transition: 300ms;
  }
  .mobile header .logo-mobile a:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile header .logo-mobile a img {
    margin-top: 6vw;
    width: 25vw;
    height: 16.2vw;
    transition: 300ms;
  }
  .mobile header .logo-mobile a img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile header .logo-mobile a.link1 {
    position: absolute;
    top: 4.75vw;
    left: 10vw;
  }
  .mobile header .logo-mobile a.link2 {
    position: absolute;
    bottom: -1.5vw;
    left: 11vw;
  }
  .mobile header .logo-mobile a.link3 {
    position: absolute;
    top: 4.75vw;
    right: 10vw;
  }
  .mobile header .logo-mobile a.link4 {
    position: absolute;
    bottom: -1.5vw;
    right: 10vw;
  }
  .mobile .menu-top-mobile {
    width: 90vw;
    height: 17vw;
    margin: 0 auto;
    background-image: url(../img/menu-top-mobile-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    text-shadow: -2px -2px 2px #0e0a2b, 2px -2px 1px #0e0a2b, -2px 2px 1px #0e0a2b, 2px 2px 1px #0e0a2b;
  }
  .mobile .menu-top-mobile h3 {
    position: absolute;
    top: 2.75vw;
    left: 20vw;
    font-size: 2.25vw;
    font-weight: normal;
  }
  .mobile .menu-top-mobile h3 span {
    color: #80f208;
  }
  .mobile .menu-top-mobile p {
    font-size: 2.25vw;
    line-height: 1.2;
    position: absolute;
    left: 20vw;
    bottom: 3.1vw;
  }
  .mobile .store-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 9.89vw;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url(../img/store-mobile-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile .store-mobile p {
    font-size: 2vw;
    line-height: 1.2;
    margin-right: 10px;
    color: #fff;
    text-shadow: -2px -2px 2px #0e0a2b, 2px -2px 1px #0e0a2b, -2px 2px 1px #0e0a2b, 2px 2px 1px #0e0a2b;
  }
  .mobile .store-mobile a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile .store-mobile a:nth-child(2) {
    margin-right: 10px;
  }
  .mobile .store-mobile a img {
    width: 18.77vw;
    height: 5.76vw;
    transition: 300ms;
  }
  .mobile .store-mobile a img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile .tablet {
    width: 90vw;
    height: 112.89vw;
    margin: 0 auto;
    background-image: url(../img/tablet.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile .tablet h3 {
    color: #004c61;
    font-size: 3.51vw;
    font-weight: normal;
    text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
    text-align: center;
    padding-top: 3.76vw;
  }
  .mobile .tablet p.info-premios {
    width: 80vw;
    margin: 0 auto;
    margin-top: 5.632vw;
    color: #fff;
    line-height: 1.2;
    font-size: 2.5vw;
    text-align: center;
    text-shadow: -2px -2px 4px #190b5a, 2px -2px 4px #190b5a, -2px 2px 4px #190b5a, 2px 2px 4px #190b5a;
  }
  .mobile .tablet form {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
  }
  .mobile .tablet form:nth-child(2) {
    background-color: #000;
  }
  .mobile .tablet form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 3.76vw;
  }
  .mobile .tablet form label span {
    margin-left: 15px;
    color: #fff;
    text-shadow: -2px -2px 2px #1e3756, 2px -2px 1px #1e3756, -2px 2px 1px #1e3756, 2px 2px 1px #1e3756;
  }
  .mobile .tablet form label input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .mobile .tablet form label input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
            appearance: textfield;
  }
  .mobile .tablet form label input {
    background: none;
    border: none;
    background-image: url(../img/input-mobile-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    width: 81.3vw;
    height: 12.515vw;
    color: #7f7f99;
  }
  .mobile .tablet form .info-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/not-robot-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 81.3vw;
    height: 21.2vw;
    margin: 0 auto;
    margin-left: 3.76vw;
  }
  .mobile .tablet form .info-auth p {
    color: #fff;
    line-height: 1.2;
    font-size: 2vw;
    text-shadow: -2px -2px 4px #190b5a, 2px -2px 4px #190b5a, -2px 2px 4px #190b5a, 2px 2px 4px #190b5a;
    text-align: center;
    width: 65vw;
    margin: 0 auto;
  }
  .mobile .tablet form .info-auth img {
    width: 27vw;
    height: 6.76vw;
    border: 2px solid #ccc;
    margin-top: 10px;
  }
  .mobile .tablet form button {
    background-image: url(../img/confirm-btn-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 81.3vw;
    height: 14vw;
    margin: 0 auto;
    margin-left: 3.76vw;
    color: #004c61;
    font-size: 3.5vw;
    font-weight: normal;
    text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
    margin-top: 2.38vw;
    transition: 300ms;
  }
  .mobile .tablet form button:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile .info-mobile {
    width: calc(100vw - 17px);
    height: 12.52vw;
    margin: 0 auto;
    background-image: url(../img/info-mobile-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .mobile .info-mobile p {
    color: #fff;
    font-size: 2.25vw;
    line-height: 1.2;
    text-shadow: -2px -2px 2px #0e0a2b, 2px -2px 1px #0e0a2b, -2px 2px 1px #0e0a2b, 2px 2px 1px #0e0a2b;
  }
  .mobile .info-mobile p span {
    color: #80f208;
  }
  .mobile .info-mobile div:nth-child(1) {
    margin-right: 20px;
  }
  .mobile .info-mobile div:nth-child(2) a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile .info-mobile div:nth-child(2) a img {
    margin-left: 10px;
    width: 5.63vw;
    height: 4.63vw;
  }
  .mobile .premios-mobile {
    width: 90vw;
    height: 59.324vw;
    margin: 0 auto;
    background-image: url(../img/premios-mobile-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile .premios-mobile p {
    color: #fff;
    font-size: 2.25vw;
    line-height: 1.3;
    text-align: center;
    text-shadow: -2px -2px 2px #061a3e, 2px -2px 1px #061a3e, -2px 2px 1px #061a3e, 2px 2px 1px #061a3e;
    padding-top: 6.26vw;
  }
  .mobile .premios-mobile p span {
    color: #80f208;
  }
  .mobile .video-mobile {
    width: 90vw;
    height: 58.7vw;
    margin: 0 auto;
    margin-top: -2px;
    background-image: url(../img/video-mobile-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile .video-mobile iframe {
    margin-top: 12.515vw;
    margin-left: 10.01vw;
    width: 73.84vw;
    height: 40.05vw;
  }
}/*# sourceMappingURL=style.css.map */